/* Variáveis de Cores */
:root {
    --cor-primaria: #2c3e50; /* Azul escuro, para cabeçalhos, rodapés, etc. */
    --cor-secundaria: #f39c12; /* Laranja vibrante, para destaques, botões */
    --cor-destaque: #e74c3c; /* Vermelho, para avisos, erros, ou elementos importantes */
    --cor-texto-claro: #ecf0f1; /* Cinza claro, para texto em fundos escuros */
    --cor-texto-escuro: #34495e; /* Azul acinzentado, para texto principal */
    --cor-fundo-claro: #f8f9fa; /* Fundo muito claro, para seções de conteúdo */
    --cor-fundo-neutro: #e0e0e0; /* Cinza neutro, para divisores ou fundos secundários */
    --cor-borda: #bdc3c7; /* Cinza para bordas */

    /* Variáveis de Fontes */
    --fonte-principal: 'Arial', sans-serif;
    --fonte-titulo: 'Georgia', serif;

    /* Variáveis de Espaçamento */
    --espacamento-pequeno: 0.5rem;
    --espacamento-medio: 1rem;
    --espacamento-grande: 2rem;
}