<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zirin</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body hx-boost="true" hx-target="#main-content" hx-push-url="true" hx-swap="innerHTML">

    <%- include('../pages/partials/header') %>

    <main id="main-content">
        <%- include(page) %>
    </main>

</body>

<script src="/js/main.js"></script>

</html>