.header {
    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-escuro);
    box-shadow: var(--sombra-padrao);

    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

.nav-logo {
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: var(--espacamento-grande);
    align-items: center;
}

.nav-link {
    color: var(--cor-texto-claro);
    font-weight: 900;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;

    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
    color: var(--cor-destaque);
    border-bottom-color: var(--cor-destaque);
    text-decoration: none;
}

.header-icons-container {
    margin-left: auto;

}

.header-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-icons .nav-link {
    padding: var(--espacamento-pequeno);
    font-size: 24px;
    border-bottom: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icons .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom-color: transparent;
}

.header-icons .nav-link.active {
    color: var(--cor-destaque);
    background-color: rgba(0, 0, 0, 0.05);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--cor-destaque);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 968px) {
    .nav-link {
        color: var(--cor-texto-escuro);
    }

    .navbar {
        width: 85%;
    }

    .nav-menu {
        position: fixed;
        margin-top: 0px;
        top: 0;
        left: -100%;
        width: 48%;
        height: 100vh;
        background-color: var(--cor-fundo-claro);
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 1.5rem;
        transition: left 0.3s ease-in-out;
        z-index: 1001;
        box-shadow: var(--sombra-padrao);
        overflow-y: auto;
        scroll-behavior: smooth;
        gap: 1.5rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu .nav-link {
        width: 100%;
        padding: 0.7rem;
        border-radius: 0.2rem;
        border-bottom: none;
        text-align: left;
    }

    .nav-menu .nav-link:hover,
    .nav-menu .nav-link.active {
        color: var(--cor-destaque);
        background-color: rgba(0, 0, 0, 0.05);
        border-bottom-color: transparent;
    }

    .hamburger {
        display: block;
        z-index: 1002;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(var(--espacamento-pequeno)) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(calc(-1 * var(--espacamento-pequeno))) rotate(-45deg);
    }

    .nav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .nav-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    body.no-scroll {
        overflow: hidden;
    }

    .header-icons-container {
        display: flex;
        justify-content: center;
        margin-left: 0;
        width: 100%;
        padding-top: 1rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .header-icons {
        width: 100px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.0rem;
    }

    .header-icons .nav-link {
        width: auto;
        padding: 0.5rem;
        border-radius: 5px;
        justify-content: flex-start;
    }
}